DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/totem_db
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

OPENAI_API_KEY=sk-xxxx
ELEVENLABS_API_KEY=xxxx
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=totem_db
